@import url("sections/header.css");
@import url("sections/menu.css");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}
.container {
  width: 90%;
  margin: 0 auto;
}
h1{
  font-size: 50px;
}
.text__orange {
  color: #eea539;
}
h2 {
  font-size: 50px;
}
