footer {
  background-color: black;
  margin-top: 10em;
}
.net__contact {
  display: flex;
}

footer h4 {
  color: white;
  line-height: 5em;
  font-size: 30;
}

/* .net__contact--image{
    width: 30px;
} */
.quick__links--information {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  margin-top: -25px;
}
