.header__nav {
  background-color: #f4f7fb;
}
.header__nav--container {
  display: flex;
  justify-content: space-between;
}
.header__nav--center ul li {
  display: flex;
  list-style-type: none;
}
.header__nav--center ul li a {
  display: flex;
  text-decoration: none;
  color: #000;
}
.header__nav--center {
  display: flex;
  flex-direction: row;
}
